<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section}, 'Редактирование книги')}">

<section th:fragment="content">
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
        <label for="name">Введите название книги: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>
        <label for="author">Введите автора: </label>
        <input type="text" th:field="*{author}" id="author"/>
        <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>
        <br/>
        <label for="year">Введите год публикации: </label>
        <input type="number" th:field="*{yearOfPublication}" id="year"/>
        <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">
            yearOfPublication Error
        </div>
        <br/>
        <input type="submit" value="Обновить"/>
    </form>
</section>
</html>