<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section}, 'Добавление читателя')}">

<section th:fragment="content">
<form th:method="POST" th:action="@{/readers}" th:object="${reader}">
    <label for="fio">Введите ФИО: </label>
    <input type="text" th:field="*{fio}" id="fio"/>
    <div style="color:red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">Name Error</div>
    <br/>
    <label for="birthYear">Введите год рождения: </label>
    <input type="number" th:field="*{birthYear}" id="birthYear"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">birthYear Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</section>
</html>