<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section}, 'Главная страница')}">
<section th:fragment="content">
<p th:text="${reader.getFio() + ', ' + reader.getBirthYear()}">VALUE</p>
<p th:text="${reader.getId()}">VALUE</p>

<div id="BorrowedBooks">
    <h2>Взятые книги:</h2>
    <div th:if="${reader.getBorrowedBooks() == null or reader.getBorrowedBooks().isEmpty()}">
        <p>Человек пока не взял ни одной книги.</p>
    </div>

    <div th:unless="${reader.getBorrowedBooks() == null or reader.getBorrowedBooks().isEmpty()}">
        <div th:each="book : ${reader.getBorrowedBooks()}" class="books">
            <a th:href="@{/books/{id}(id=${book.id})}"
               th:classappend="${book.isOverdue() ? 'overdue' : ''}">
                <span th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}"></span>
            </a>
        </div>
    </div>
</div>

<form th:method="GET" th:action="@{/readers/{id}/edit(id=${reader.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/readers/{id}(id=${reader.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</section>
</html>

<style>
    .overdue {
      color: red;
    }
</style>